<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xdl.ydma.dao.EvaluationLikeMapper">
  <resultMap id="BaseResultMap" type="cn.xdl.ydma.entity.EvaluationLike">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="evaluation_id" jdbcType="INTEGER" property="evaluationId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="like_time" jdbcType="TIMESTAMP" property="likeTime" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, evaluation_id, user_id, like_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from evaluation_like
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from evaluation_like
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xdl.ydma.entity.EvaluationLike">
    insert into evaluation_like (Id, evaluation_id, user_id, 
      like_time)
    values (#{id,jdbcType=INTEGER}, #{evaluationId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{likeTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.xdl.ydma.entity.EvaluationLike">
    insert into evaluation_like
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="evaluationId != null">
        evaluation_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="likeTime != null">
        like_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="evaluationId != null">
        #{evaluationId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="likeTime != null">
        #{likeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xdl.ydma.entity.EvaluationLike">
    update evaluation_like
    <set>
      <if test="evaluationId != null">
        evaluation_id = #{evaluationId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="likeTime != null">
        like_time = #{likeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xdl.ydma.entity.EvaluationLike">
    update evaluation_like
    set evaluation_id = #{evaluationId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      like_time = #{likeTime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="cn.xdl.ydma.entity.EvaluationLike">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="evaluation_id" jdbcType="INTEGER" property="evaluationId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="like_time" jdbcType="TIMESTAMP" property="likeTime" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, evaluation_id, user_id, like_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from evaluation_like
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from evaluation_like
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xdl.ydma.entity.EvaluationLike">
    insert into evaluation_like (Id, evaluation_id, user_id, 
      like_time)
    values (#{id,jdbcType=INTEGER}, #{evaluationId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{likeTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.xdl.ydma.entity.EvaluationLike">
    insert into evaluation_like
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="evaluationId != null">
        evaluation_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="likeTime != null">
        like_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="evaluationId != null">
        #{evaluationId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="likeTime != null">
        #{likeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xdl.ydma.entity.EvaluationLike">
    update evaluation_like
    <set>
      <if test="evaluationId != null">
        evaluation_id = #{evaluationId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="likeTime != null">
        like_time = #{likeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xdl.ydma.entity.EvaluationLike">
    update evaluation_like
    set evaluation_id = #{evaluationId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      like_time = #{likeTime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>